.DashNavbarParent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px;
  background: none !important;
}

.MainLogo {
  width: 170px;
}

.DashNavMenu {
  width: 50%;
  border: none;
  background: none !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.opentabicon {
  transform: translateY(3px);
}

.SecOneMeetLawBtnDASH {
  margin: 10px 13px 10px 6px;
  padding: 5px 15px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 17px;
  background-color: #B2784A;
  color: black;
  transform: translateY(-5px);
  border: 2px solid #B2784A;
}

.SecOneMeetLawBtnDASH:hover {
  border: 2px solid #EBDACC;
  background-color: #EBDACC;
}

.logoutarea {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add styles for active link */
.active-link {
  /* Add styles for active link here */
  background-color: #EBDACC;
  color: black;
  font-weight: bold;
}
