.NavBarParent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background: none !important;
}
.MainLogo {
  width: 170px;
}
.NavMenu {
  width: 38%;
  border: none;
  background: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hamburger {
  display: none;
}

/*todo <!----------------------------------------------- < buttons > -----------------------------------------------> */

.buttonunderline {
  z-index: 1;
  font-size: 16px;
  padding: 7px;
  padding-bottom: 14px;
  color: black;
  position: relative;
  transition: all 300ms ease-in-out;
}
.buttonunderline::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 10px;
  height: 3px;
  background-color: #ebdacc;
  transform: scaleX(0);
  transition: all 300ms ease-in-out;
}
.buttonunderline:hover::before {
  transform: scaleX(0.7);
}
.opentabicon {
  transform: translateY(3px);
}
.SecOneMeetLawBtnS {
  margin: 20px 5px;
  padding: 5px 20px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 17px;
  background-color: #B2784A;
  color: black;
  transform: translateY(-5px);
  border: 2px solid#B2784A;
}

.SecOneMeetLawBtnS:hover {
  border: 2px solid##EBDACC;
  background-color: #EBDACC;
}
